<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% for stylesheet in dtc_grid_theme_css %}
                <link rel="stylesheet" href="{{ stylesheet }}">
            {% endfor %}
        {% endblock %}
        {% block dtc_grid_stylesheets %}
        {% endblock %}
        {% block dtc_grid_javascripts %}
        {% endblock %}
        {% block javascripts %}
            {% for javascript in dtc_grid_theme_js %}
                <script src="{{ javascript }}"></script>
            {% endfor %}
        {% endblock javascripts %}
    {% endblock %}
</head>
<body>
<div style="{{ dtc_grid_page_div_style }}">
    {% block grid %}
    {{ dtc_grid.render | raw }}
    {% endblock %}
</div>
<script>
    {% block body_javascript %}
    {% endblock %}
</script>
</body>
</html>