# emacs
*~
\#*
\#*\#
auto-save-list

# vim
*.swp

# composer
vendor
composer.lock

# bin
bin/phpunit
bin/php-cs-fixer

# PHP CS Fixer
.php_cs.cache

# PHPUnit
.phpunit.result.cache

# PHP CS Fixer
.php-cs-fixer.cache

# Jetbrains
.idea

# Mac
.DS_Store

#
bin
.php_cs.cache
