language: php

php:
    - 5.6
    - 7.0
    - 7.1

before_script:
    - composer self-update
    - if [[ ${TRAVIS_PHP_VERSION:0:2} == "5." ]]; then extension="mongo"; echo "yes" | pecl install mongo; else extension="mongodb"; pecl install mongodb; fi; echo "extension=$extension" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then composer require "alcaeus/mongo-php-adapter" --ignore-platform-reqs; fi
    - composer install

script: bin/phpunit 
