parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Dtc\\GridBundle\\Controller\\GridController\:\:createNotFoundException\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Controller/GridController.php

		-
			message: '#^Variable \$renderer might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: Controller/GridController.php

		-
			message: '#^Parameter \$template of method Dtc\\GridBundle\\Grid\\Column\\TwigBlockGridColumn\:\:__construct\(\) has invalid type Twig_Template\.$#'
			identifier: class.notFound
			count: 1
			path: Grid/Column/TwigBlockGridColumn.php

		-
			message: '#^Constructor of class Dtc\\GridBundle\\Grid\\Pager\\Pager has an unused parameter \$totalRecords\.$#'
			identifier: constructor.unusedParameter
			count: 1
			path: Grid/Pager/Pager.php

		-
			message: '#^Variable \$actions in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: Grid/Source/ColumnSource.php

