<div>
	<table id="{{ id }}" data-dtc-grid-jq-grid="{{ options | json_encode | escape }}"></table>
	<div id="{{ id }}-pager"></div>
</div>

<script>
(function($) {
	$('.dtc-grid-jq-grid').each(
			function(idx, val) {
				var options = JSON.parse($(val).data('dtc-grid-jq-grid'));
				$(val).jqGrid(options);
			}
	)
})(jQuery);
</script>
